@charset "utf-8";
/* body {
	margin: 0px;
	color: #151515;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-color: #CCCCCC;
	vertical-align: middle;
} 

/*--------------------------------------------------------*/

#body {
	background-color: #F0F0F0;
}
.mainframe {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.mainborder {
	border-bottom: 3px solid;
	border-left: 3px solid;
	border-right: 3px solid;
	border-color: black;
}

.paraheader {
	text-align: center;
	font-size: 24px;
	font-family: actor;
	font-weight: bold;
	text-decoration: underline;		
}

/*--------------------------------------------------------*/

#header {
	height: 150px;
	overflow: hidden;
}

IMG.headerlogo {
	
}

/*--------------------------------------------------------*/

.nav {
	width: 33%;
	height: 55px;
	border: 3px solid;
	border-color: black;
	font-family: "Courier New", Courier, monospace;
	background-color: #00A8FF;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

#navbar	{
	width: 1170px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

/*--------------------------------------------------------*/

#picframe {
	width: 1137px;
	height: 290px;
	overflow: hidden;	
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

IMG.mainpic {
	
}

/*--------------------------------------------------------*/
	
#core	{
	border-radius: 6px;
	margin-top: 20px;
	display: table;
	width: 1143px;
	height: 490px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;	
}

#para {
	display: table-cell;
	width: 730px;
	height: 45px;
	font-family: actor;
	background-color: inherhit;
	font-size: 22px;
	font-weight: 400;
	vertical-align: top;
	text-align: left;
	position: relative;
	padding: 30px;
	font-style: normal;
}

/*--------------------------------------------------------*/

#footer {
	margin-top: 20px;
	border-radius: 6px;
	height: 50px;
	background-color: #00A8FF;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-family: actor;
	line-height: 50px;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	 
}

/*--------------------------------------------------------*/
